<div class="jumbotron" style="background-image: url(images/construction_background.png)">
  <h1 style="background: #010101; color: #ffff08;">Projects </h1>
  <p style="background: #ffff08; color:#010101 ;">A selection of my personal and professional projects. See more at my <a target="_blank" href="http://www.github.com/dpvanmaan">GitHub</a>.</p>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <img class="col-md-3" src="http://placehold.it/140x100">
      <h2>Project Title</h2>
      <p>Description Stuff SO fhdaofihasdofhsdifhsachljks
	ckdka cjdi icjal;dj cjdki jcid ijeij ipad cidojc jaidjfpo jcdiaj jcadiojc jicdjo ajcioja jocdijc
      </p>
      <a href="#">Links</a>
    </div>
  </div>
       
</div>
