<div class="jumbotron" style="background-image: url(images/construction_background.png)">
  <h1 style="background: #010101; color: #ffff08;">Projects </h1>
  <p style="background: #ffff08; color:#010101 ;">A selection of my personal and professional projects. See more at my <a target="_blank" href="http://www.github.com/dpvanmaan">GitHub</a>.</p>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well" ng-repeat="proj in projects">
      <img class="col-md-3" ng-src="{{ proj.icon }}">
      <h2>{{ proj.title }}</h2>
      <p>
	{{ proj.description }}
      </p>
      <span ng-repeat="link in proj.links">
	<a ng-href="{{ link.url }}">{{link.title}}</a>
      </span>
    </div>
  </div>
       
</div>
